{
  "expo": {
    "name": "Word Hug",
    "slug": "word-hug",
    "version": "1.0.0",
    "scheme": "wordhug",
    "orientation": "portrait",
    "userInterfaceStyle": "automatic",
    "newArchEnabled": true,
    "icon": {
      "light": "./assets/icon.png",
      "dark": "./assets/icon-dark.png",
      "tinted": "./assets/icon-tinted.png"
    },
    "ios": {
      "bundleIdentifier": "com.wordhug.app",
      "supportsTablet": true
    },
    "android": {
      "package": "com.wordhug.app",
      "edgeToEdgeEnabled": true,
      "adaptiveIcon": {
        "foregroundImage": "./assets/adaptive-icon.png",
        "monochromeImage": "./assets/adaptive-icon-monochrome.png",
        "backgroundColor": "#FFF4E2"
      }
    },
    "web": {
      "bundler": "metro",
      "output": "static",
      "favicon": "./assets/favicon.png"
    },
    "plugins": [
      "expo-router",
      [
        "expo-splash-screen",
        {
          "image": "./assets/splash-icon.png",
          "imageWidth": 300,
          "resizeMode": "contain",
          "backgroundColor": "#FFF4E2",
          "dark": {
            "image": "./assets/splash-icon-dark.png",
            "backgroundColor": "#1A0F38"
          }
        }
      ],
      [
        "expo-notifications",
        {
          "icon": "./assets/notification-icon.png",
          "color": "#FFB020"
        }
      ]
    ]
  }
}
